<div class="ui fluid card">
  <div class="content">
    <div class="right floated meta">{{padlet?.created_at | date:"dd.MM.yyyy"}}</div>
    <span>{{ownerName}}</span>
    <span *ngIf="padlet?.users == null">
      <span>Anonym</span>
    </span>
  </div>
  <div class="image">
    <img *ngIf="padlet && padlet.images && padlet.images[0]" [src]="padlet.images[0].url">
  </div>
  <div class="content">
    <h3 class="header">{{ padlet?.title }}</h3>
  </div>
  <div class="extra content">
        <span class="right floated">
          <i class="heart outline icon"></i>
          {{likeCount}}
          <span *ngIf="likeCount != 1">Likes</span>
        <span *ngIf="likeCount == 1">Like</span>
        </span>
        <i class="comment outline icon"></i>
    {{commentCount}}
    <span *ngIf="commentCount != 1">Kommentare</span>
    <span *ngIf="commentCount == 1">Kommentar</span>
  </div>
</div>
