<div *ngIf="loading" class="ui active inverted dimmer">
  <div class="ui text loader large">Lade Monis Padlet…</div>
</div>

<div class="ui grid">
  <div class="row">
    <a class="ui labeled icon" [routerLink]="'/board'">
      <i class="left chevron icon"></i>
      Zurück zur Übersicht
    </a>
  </div>
  <div class="row">
    <div class="sixteen wide column">

      <div *ngIf="current_user_name != ''">
        <h2>Hallo {{current_user_name}}!</h2>
      </div>

      <h1 *ngIf="isLoggedIn()">Logout</h1>
      <h1 *ngIf="!isLoggedIn()">Login</h1>


      <div *ngIf="!isLoggedIn()">
        <form  class="ui large form" [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="field">
            <label>E-Mail</label>
            <input type="email" id="username" formControlName="username">
            <div *ngIf="loginForm.get('username')?.invalid &&
    (loginForm.get('username')?.dirty || loginForm.get('username')?.touched) &&
    loginForm.get('username')?.hasError('required')" class="ui negative message">
              Benutzername ist verpflichtend </div>
            <div *ngIf="loginForm.get('username')?.invalid &&
    (loginForm.get('username')?.dirty || loginForm.get('username')?.touched) &&
    loginForm.get('username')?.hasError('email')" class="ui negative message">
              E-Mail Format überprüfen </div>
          </div>
          <div class="field">
            <label>Passwort</label>
            <input type="password" formControlName="password">
            <div *ngIf="loginForm.get('password')?.invalid &&
    (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="ui negative message">
              Passwort ist verpflichtend </div>
          </div>

          <button type="submit" class="ui button" [disabled]="loginForm.invalid">Login</button>
        </form>
      </div>

      <div *ngIf="isLoggedIn()">
        <button type="button" class="ui button" (click)="logout()" routerLink="/">Logout</button>
      </div>

    </div>
  </div>
</div>
