<div *ngIf="loading" class="ui active inverted dimmer">
  <div class="ui text loader large">Lade Monis Padlet…</div>
</div>

<div class="ui grid">
  <div class="row header-bar">
    <a class="ui labeled icon backlink" [routerLink]="backlink">
      <i class="left chevron icon"></i>
      Zurück zum Padlet
    </a>
  </div>
  <div class="row centered-row">
    <div class="ten wide column">

      <h1>Nutzer:innen bearbeiten</h1>

      <div class="ui large form">
        <div class="field">
          <label class="owner-label">Eigentümer:in</label>
          <div>
            <div class="fields">
              <div class="eight wide field">
                <input value="{{ownerName}}" disabled>
              </div>
              <div class="six wide field">
                <input value="{{ownerEmail}}" disabled>
              </div>
              <div class="two wide field form-lock-icon">
                <i class="lock icon" style="margin:0;"></i>
                <!--                <button class="ui large button" type="button" disabled></button>-->
              </div>
            </div>
          </div>
        </div>
      </div>

      <form  class="ui large form" [formGroup]="padletUserForm" (ngSubmit)="saveUsers()">
<!--        <input type="hidden" formControlName="id">-->
        <div class="field">
          <label>Zusätzliche Nutzer:innen</label>
          <div formArrayName="users">
            <div class="fields" *ngFor="let control of users?.controls; index as i; last as l" [formGroupName]="i">
<!--              <input type="hidden" formControlName="id">-->
              <div class="eight wide field">
                <input formControlName="email" placeholder="E-Mail-Adresse des gewünschten Nutzers">
                <div *ngIf="errors['email']" class="ui negative message">{{ errors['email'] }}</div>
              </div>
              <div class="six wide field">
                <select formControlName="user_role" ><!--[(ngModel)]='roleDefault' -->
                  <option value="viewer">Betrachter:in</option>
                  <option value="editor">Redakteur:in</option>
                </select>
                <div *ngIf="errors['user_role']" class="ui negative message">{{ errors['user_role'] }}</div>

              </div>
              <div class="two wide field" *ngIf="l">
                <button (click)="addUserControl()" class="ui large fluid button" type="button">+</button>
              </div>
            </div>
          </div>
          <div *ngIf="errors['users']" class="ui negative message">{{ errors['users'] }}</div>
        </div>


        <button type="submit" class="ui button submit-btn" [disabled]="padletUserForm.invalid">Speichern</button>
      </form>

    </div>
  </div>
</div>
