<div *ngIf="loading" class="ui active inverted dimmer">
  <div class="ui text loader large">Lade Monis Padlet…</div>
</div>

<div class="ui grid">
  <div class="row">
    <a *ngIf="isUpdatingPadlet" class="ui labeled icon" [routerLink]="backlink">
      <i class="left chevron icon"></i>
      Zurück zum Padlet
    </a>
    <a *ngIf="!isUpdatingPadlet" class="ui labeled icon" [routerLink]="'/board'">
      <i class="left chevron icon"></i>
      Zurück zur Übersicht
    </a>
  </div>
  <div class="row">
    <div class="sixteen wide column">


      <h1 *ngIf="isUpdatingPadlet">Padlet bearbeiten</h1>
      <h1 *ngIf="!isUpdatingPadlet">Neues Padlet erstellen</h1>

      <form  class="ui large form" [formGroup]="padletForm" (ngSubmit)="submitForm()">
        <input type="hidden" formControlName="id">
        <div class="field">
          <label>Titel</label>
          <input formControlName="title" placeholder="Titel des Padlets">
          <div *ngIf="errors['title']" class="ui negative message"> {{ errors['title'] }} </div>
        </div>
        <div class="field">
          <label>Beschreibung</label>
          <textarea formControlName="description" rows="5" placeholder="Beschreibung des Padlets"></textarea>
        </div>
        <div class="field">
          <label>Bilder</label>
          <div formArrayName="images">
            <div class="fields" *ngFor="let control of images?.controls; index as i; last as l" [formGroupName]="i">
              <input type="hidden" formControlName="id">
              <div class="nine wide field">
                <input formControlName="url" placeholder="URL für Bild {{i+1}} (http://bild{{i+1}}.jpg)">
              </div>
              <div class="six wide field">
                <input formControlName="title" placeholder="Titel für Bild {{i+1}}">
              </div>
              <div class="one wide field" *ngIf="l">
                <button (click)="addThumbnailControl()" class="ui large button" type="button">+</button>
              </div>
            </div>
          </div>
          <div *ngIf="errors['images']" class="ui negative message">{{ errors['images'] }}</div>
        </div>


        <div *ngIf="authservice.isLoggedIn()"  class="field">
          <label>Sichtbarkeit</label>
          <select formControlName="is_private" [(ngModel)]='visabilityDefault'>
            <option value="0" >Öffentlich</option>
            <option value="1">Privat</option>
          </select>
          <div *ngIf="errors['is_private']" class="ui negative message">{{ errors['is_private'] }}</div>
        </div>


        <button type="submit" class="ui button" [disabled]="padletForm.invalid">Speichern</button>
      </form>

    </div>
  </div>
</div>
