/* You can add global styles to this file, and also import other style files */

@import 'node_modules/ngx-toastr/toastr.css';


.custom-flex-card{
  display: flex !important;
}


.custom-flex-card .card:hover{
  border: none;
  -webkit-box-shadow: 0 1px 3px 0 #bcbdbd, 0 0 0 1px #d4d4d5;
  box-shadow: 0 1px 3px 0 #bcbdbd, 0 0 0 1px #d4d4d5;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}


.button.liked{
  background-color: #2185d0 !important;
  color: #fff !important;
}

.button.not_liked{
  background-color: #fff !important;
  color: #2185d0 !important;
}


.form-lock-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.widthimportant{
  width: 81.25%!important;
}


.likesComments{
  
}
