<div *ngIf="loading" class="ui active inverted dimmer">
  <div class="ui text loader large">Lade Monis Padlet…</div>
</div>



<div class="ui grid" *ngIf="padlet">
  <div class="row header-bar">
    <a class="ui labeled icon backlink" [routerLink]="'/board'">
      <i class="left chevron icon"></i>
      Zurück zur Übersicht
    </a>
  </div>
  <div class="row">
    <div class="seven wide column" *ngIf="padletHasImages">
      <div *ngFor="let image of padlet?.images" >
        <img [src]="image.url" [alt]="image.title" style="width: 100%;">
      </div>
    </div>

    <div class="{{textColums}}">

      <div *ngIf="authservice.isLoggedIn() && (isViewer || isEditor  || isOwner)" class="three wide column flex-end padlet-detail-button-row">
        <span class="small-info-text" *ngIf="isViewer">Du bist Betrachter:in dieses Padlets.</span>
        <span class="small-info-text" *ngIf="isEditor">Du bist Redakteur:in dieses Padlet.</span>
<!--        <span class="small-info-text" *ngIf="isOwner">Du bist Eigentümer:in dieses Padlets.</span>-->

        <button *ngIf="authservice.isLoggedIn() && (isEditor  || isOwner)" class="ui tiny basic button padlet-edit-buttons" [routerLink]="['../../edit/', padlet.id]">
          <i class="write icon"></i> Padlet bearbeiten
        </button>
        <button *ngIf="authservice.isLoggedIn() && isOwner" class="ui tiny basic button padlet-edit-buttons" [routerLink]="['../../users/', padlet.id]">
          <i class="user icon"></i> Nutzer:innen bearbeiten
        </button>

        <button *ngIf="authservice.isLoggedIn() && (isEditor  || isOwner)" class="ui tiny basic button padlet-edit-buttons" (click)="removePadlet()">
          <i class="trash icon"></i> Padlet löschen
        </button>
      </div>

      <div class="padlet-detail-data">
        <p *ngIf="!padlet.is_private" class="padlet-detail-visibility"><i class="globe icon"></i> Dieses Padlet ist öffentlich.</p>
        <p *ngIf="padlet.is_private" class="padlet-detail-visibility"><i class="lock icon"></i> Dieses Padlet ist privat.</p>

        <div class="flex-between">
          <h1 class="padlet-detail-title">{{padlet.title}}</h1>
          <button *ngIf="authservice.isLoggedIn()" class="ui button like-btn" (click)="like()">
            Like dieses Padlet
            <i class="heart icon {{this.likeBtn}}"></i>
          </button>
        </div>
        <p>
          <span class="bold">{{ownerName}}</span>
          <span class="metadata">
            <span class="date">&nbsp;am {{padlet.created_at | date:"dd.MM.yyyy"}}</span>
          </span>
        </p>
      </div>

      <div class="extra content padlet-detail-likes-comments">
        <span class="likes">
          <i class="heart outline like icon"></i>
          {{likeCount}}
          <span *ngIf="likeCount != 1">Likes</span>
          <span *ngIf="likeCount == 1">Like</span>
        </span>
        <span class="comments">
          <i class="comment outline icon"></i>
          {{commentCount}}
          <span *ngIf="commentCount != 1">Kommentare</span>
          <span *ngIf="commentCount == 1">Kommentar</span>
        </span>
      </div>


      <p>{{padlet.description}}</p>

      <bs-padlet-details-comments [padlet]="padlet" [commentCount]="commentCount"></bs-padlet-details-comments>
    </div>



  </div>
</div>
