<div *ngIf="loading" class="ui active inverted dimmer">
  <div class="ui text loader large">Lade Monis Padlet…</div>
</div>



<div class="ui grid" *ngIf="padlet">
  <div class="row">
    <a class="ui labeled icon" [routerLink]="'/board'">
      <i class="left chevron icon"></i>
      Zurück zur Übersicht
    </a>
  </div>
  <div class="row">

    <div class="five wide column" *ngIf="padletHasImages">
      <div *ngFor="let image of padlet?.images" >
        <img [src]="image.url" [alt]="image.title" style="width: 100%;">
      </div>
    </div>

    <div class="{{textColums}}">

      <div class="three wide column">
        <button *ngIf="authservice.isLoggedIn() && isEditor" class="ui tiny gray labeled icon button fluid" [routerLink]="['../../edit/', padlet.id]">
          <i class="write icon"></i> Padlet bearbeiten
        </button>
        <button *ngIf="authservice.isLoggedIn() && isOwner" class="ui tiny gray labeled icon button fluid" [routerLink]="['../../users/', padlet.id]">
          <i class="user icon"></i> Nutzer:innen bearbeiten
        </button>

        <button *ngIf="authservice.isLoggedIn() && isEditor" class="ui tiny gray labeled icon button fluid" (click)="removePadlet()">
          <i class="trash icon"></i> Padlet löschen
        </button>

        <button *ngIf="authservice.isLoggedIn()" class="ui primary basic button fluid {{this.likeBtn}}" (click)="like()">LIKE</button>
      </div>

      <h1>{{padlet.title}}</h1>
      <p>
        <span class="author">{{ownerName}}</span>
        <span class="metadata">
          <span class="date">&nbsp;am {{padlet.created_at | date:"dd.MM.yyyy"}}</span>
        </span>
      </p>


      <div class="extra content likesComments">
        <span>
          <i class="heart outline like icon"></i>
          {{likeCount}}
          <span *ngIf="likeCount != 1">Likes</span>
          <span *ngIf="likeCount == 1">Like</span>
        </span>
        <span>
          <i class="comment outline icon"></i>
          {{commentCount}}
          <span *ngIf="commentCount != 1">Kommentare</span>
          <span *ngIf="commentCount == 1">Kommentar</span>
        </span>
      </div>


      <p>{{padlet.description}}</p>

      <bs-padlet-details-comments [padlet]="padlet"></bs-padlet-details-comments>
    </div>



  </div>
</div>
